body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
  }
  .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  .container > * {
    margin: 5px;
  }
  
  input[type="submit"] {
    align-self: flex-start;
    background-color: #4caf50;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  input[type="text"],
  select,
  textarea {
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 12px;
  }
  